<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>From</td>
                <td>To</td>
                <td>Headers</td>
                <td>Content</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mail : ${mails}">
                <td th:text="${mail.sender}"></td>
                <td th:each="recipient : ${mail.recipients}">
                    <span th:text="${recipient}"></span><br />
                </td>
                <td th:text="${mail.headers}"></td>
                <td th:text="${mail.content}"></td>
            </tr>
        </tbody>
    </table>
    <!--<div th:each="mail : ${mails}">-->
        <!--<span th:text="'From: ' + ${mail.sender}"></span>-->
        <!--<div th:each="recipient : ${mail.recipients}">-->
            <!--<span th:text="'To: ' + ${recipient}"></span>-->
        <!--</div>-->
        <!--<span th:text="${mail.content}"></span>-->
        <!--<br />-->
    <!--</div>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>