<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/compat.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/download.js"></script>
</head>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>From</td>
                <td>To</td>
                <td>Headers</td>
                <td>More</td>
            </tr>
        </thead>
        <tbody>
            <tr class="mail-row" th:each="mail : ${mails}">
                <td th:id="'mail-from-' + ${mail.id}"></td>
                <td th:id="'mail-to-' + ${mail.id}"></td>
                <td class="mail-infos" th:id="'mail-infos-' + ${mail.id}"></td>
                <td><a th:href="'/mails/mail?mailId=' + ${mail.id}">Open</a></td>
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    $(document).ready(function() {
                        var headers = JSON.parse(/*[[${mail.headers}]]*/ "");

                        var fullMail = "";
                        for(var i = 0; i < headers.length; i++) {
                            fullMail += headers[i].key + ": " + headers[i].value + '\n';
                        }

                        window.mailParser(fullMail, function(err, mail) {

                            $("#mail-content-" + /*[[${mail.id}]]*/ "").html(mail.html)
                            $("#mail-from-"  + /*[[${mail.id}]]*/ "").html(mail.from.html)
                            $("#mail-to-"  + /*[[${mail.id}]]*/ "").html(mail.to.html)
                            $("#mail-infos-" + + /*[[${mail.id}]]*/ "").html("Subject : " + mail.subject + "<br />" +
                                "Date : " + mail.date.toLocaleString() + "<br />")
                        });
                    })
                    /*]]>*/
                </script>
            </tr>
        </tbody>
    </table>
</body>
</html>